## Check out the Solutions

Benson Nyota

Reach out for the notebook

### 1.1 Orders Delivered

In [ ]:
#pseudocode
x = value
if condition:
    statements                       
else:
    statements

In [3]:
#orders value
x = 190

In [4]:

if x > 100:
    print("Busy Day!")
else:
    print("Calm Day")

Busy Day!

### 2.1 Salary Calculator

In [ ]:
def salary_calculator(employees):
    for i in persons:
        if sum(each person)<160:
            print(person, total amount)
        else:
            tt_amount = amount(for160hrs) + overtime_amount           
            print(person, tt_amount)

In [7]:
import sys

In [8]:
employees = {"Benson":[42, 38, 47, 44], "Joan":[41, 33, 49, 25], "Stephany":[45, 41,40, 38]}
print(employees)
print(sys.getsizeof(employees), 'bytes')

{'Benson': [42, 38, 47, 44], 'Joan': [41, 33, 49, 25], 'Stephany': [45, 41, 40, 38]}
184 bytes

In [9]:
# sum of an individual 
benson_month_hours = sum(employees["Benson"])
benson_month_hours

171

In [10]:
joan_month_hours = sum(employees["Joan"])
joan_month_hours

148

In [11]:
employees.keys()

dict_keys(['Benson', 'Joan', 'Stephany'])

In [12]:
#Note
for i in employees.keys():
    print(i)

Benson
Joan
Stephany

In [23]:
#Manual input of each person's worked hours
def wage(h):
    if h<160:
        return h*75
    else:
        tt = ((160*75) + ((h-160)*(1.5*75)))
        return tt

In [22]:
#Benson
wage(171)

13237.5

In [35]:
#Joan
wage(148)

11100

In [24]:
# 40 hours/week
# rate : $75
# overtime: 1.5times of the normal rate

def salary_calc(x):
    for i in x.keys():
        if sum(x[i])<160:
            print(f"{i}:  ${sum(x[i])*75}")
        else:
            wage = (160*75)+((sum(x[i])-160)*(1.5*75))
            print(f"{i}: ${wage}")

In [25]:
salary_calc(employees)

Benson: $13237.5
Joan:  $11100
Stephany: $12450.0

## 3.1 Tetrahedron

In [ ]:
#Pseudocode
def function_name(dimension):
    from math import sqrt
    return volume calculations

In [28]:
# There are many ways of doing it
def volume_1(y):
    from math import sqrt
    return round(y**3/(6*sqrt(2)),2)

In [29]:
volume_1(7)

40.42

In [30]:
dim = 7

In [31]:
#Interactively
def volume():
    from math import sqrt
    d = int(input("Enter the length: "))
    volume = d**3/(6*sqrt(2))
    print(f"{round(volume, 2)} m^3")

In [32]:
volume()

Enter the length:  7

40.42 m^3

### Total Amount spent

In [33]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

In [34]:
money = 0
for i in prices.keys():
    money += prices[i]*quantity[i]

In [35]:
money

74

### Explore other ways and get the same results