Python

In [3]:
x = int(input("How many orders?"))

How many orders? 99

In [5]:
if x>100:
    print("Busy Day!")
else:
    print("Calm day")

Calm day

In [6]:
2**3

8

In [7]:
from math import sqrt
sqrt(2)

1.4142135623730951

In [ ]:
volume = 2**3/(6*sqrt(2))

In [10]:
def tetra(a):
    from math import sqrt
    volume = round(a**3/(6*sqrt(2)),2)
    print(f"{volume} m^3")

In [11]:
tetra(7)

40.42 m^3

In [20]:
employees = {
                             "Joan" : [41, 33, 49, 25], 
                                         "Stephany" : [45, 41,40, 38]}

In [14]:
sum(employees["Benson"])

171

In [17]:
for k in employees.keys():
    print(f"{k} : {sum(employees[k])}")

Benson : 171
Joan : 148
Stephany : 164

In [22]:
%%time
def salary(x):
    for k in x.keys():
        if sum(x[k])<=160:
            wage = sum(x[k])*75
            print(f'{k} : {wage}')
        else:
            tt_wage = (160*75)+((sum(x[k])-160)*(1.5*75))
            print(f"{k} : {tt_wage}")

CPU times: total: 0 ns
Wall time: 0 ns

In [21]:
salary(employees)

Joan : 11100
Stephany : 12450.0

In [29]:
x =40

In [30]:
print(f"python {x}" )

python 40

In [ ]:
print("Python", str(x))